# PostgreSQL
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme

# InfluxDB
INFLUXDB_ADMIN_USER=changeme
INFLUXDB_ADMIN_PASSWORD=changeme
INFLUXDB_ADMIN_TOKEN=changeme
INFLUXDB_ORG=changeme
INFLUXDB_BUCKET=changeme

# FastAPI
SECRET_KEY=changeme
